---
import { useTranslations } from '../../i18n/utils';
import DividerWithIcon from '../misc/DividerWithIcon.astro';

const t = useTranslations('de');
---

<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <img
      class="masthead-avatar mb-5 rounded"
      src="/img/me.webp"
      width="250"
      height="250"
      alt={t('page.authorImgAlt')}
    />
    <h1 class="masthead-heading text-uppercase mb-0">
      {t('page.mastheadTitle')}
    </h1>
    <DividerWithIcon iconClass="fa-star" lightMode={true} />
    <p class="masthead-subheading font-weight-light mb-0">
      {t('page.mastheadSubtitle')}
    </p>
  </div>
</header>
