---
import DividerWithIcon from './../misc/DividerWithIcon.astro';
import { useTranslations } from '../../i18n/utils';

const t = useTranslations('de');
---

<section class="page-section bg-primary text-white" id="portfolio">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase">
      {t('page.nav.portfolio')}
    </h2>
    <DividerWithIcon iconClass="fa-briefcase" lightMode={true} />
    <div class="row"></div>
  </div>
</section>
