---
const { type, message, classList, id } = Astro.props;

const iconClasses: { [key: string]: string } = {
  danger: 'fa-triangle-exclamation',
  check: 'fa-check',
};
const iconClass = iconClasses[type];
---

<style>
  .alert {
    display: flex;
    flex-direction: row;
  }
  .alert .icon {
    margin-right: 1rem;
    line-height: 2rem;
  }
</style>

<div id={id} class:list={`alert alert-${type} ${classList.join(' ')}`}>
  <i class:list={`icon fa-solid ${iconClass}`}></i>
  <div set:html={message} />
</div>
