---
import "../styles/global.scss";
import { useTranslations } from '../i18n/utils';

const t = useTranslations('de');
---
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h3 class="h4 text-uppercase mb-4" set:html={t('page.location')}></h3>
                <p class="lead mb-0" set:html={t('page.locationText')}></p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">

                <ul class="footer-links mb-3">
                    <li>
                        <a class="footer-link" href="/datenschutz/">
                            {t('page.dataProtection')}
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="/impressum/">
                            {t('page.impressum')}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h3 class="h4 text-uppercase mb-4">
                    {t('page.aroundTheWeb')}
                </h3>
                <a class="btn btn-outline-light btn-social mx-1" target="_blank"
                   aria-label="page.footer.links.github"
                   href="https://github.com/wolf-utz">
                    <i class="fab fa-fw fa-github"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" target="_blank"
                   aria-label="page.footer.links.xing"
                   href="https://www.xing.com/profile/WolfPeter_Utz">
                    <i class="fab fa-fw fa-xing"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" target="_blank"
                   aria-label="page.footer.links.linkedin"
                   href="https://www.linkedin.com/in/wolf-peter-utz/">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" target="_blank"
                   aria-label="page.footer.links.email"
                   href="mailto:wolf@utz-it.de">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
</footer>