---
import BaseLayout from './BaseLayout.astro';
import MainNavigation from './../components/MainNavigation.astro';
import Hero from '../components/sections/Hero.astro';
import { useTranslations } from '../i18n/utils';

const t = useTranslations('de');
---

<BaseLayout>
  <MainNavigation />
  <Hero />
  <main>
    <slot />
  </main>
</BaseLayout>
